.v-popper--theme-tooltip .v-popper__inner {
  border: 1px #000000 solid;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: #000000;
}

.v-popper--theme-tooltip .v-popper__arrow-inner {
  visibility: visible;
}

.v-popper--theme-tooltip .v-popper__inner {
  background: #ffffff;
}
